<h1>New quest</h1>


<%= form_with scope: :quest, url: quests_path, local: true do |form| %>

  <% if @quest.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@quest.errors.count, "error") %> prohibited
        this quest from being saved:
      </h2>
      <ul>
        <% @quest.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.label :code %><br>
    <%= form.text_area :code %>
  </p>

  <p>
    <%= form.label :end_quest_text %><br>
    <%= form.text_area :end_quest_text %>
  </p>

  <p>
    <%= form.label :next_quest %><br>
    <%= form.collection_select :next_quest_id, Quest.order(:title), :id, :title, include_blank: true %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', quests_path %>
