<p>
    <strong>Title:</strong>
      <%= @quest.title %>
</p>

<% if @show_end %>
  <strong>Mensaje:</strong>
  <%= @quest.end_quest_text %>
<% else %>
  <p>
    <strong>Text:</strong>
    <%= @quest.text %>
  </p>
<% end %>

<% unless @admin_mode || @show_end %>
  <%= form_with scope: :quest, url: quest_check_code_path(@quest), local: true do |form| %>
    <div class="input-group mb-3">
      <p>
        <%= form.label :code %><br>
        <%= form.text_area :code, :value => '', :placeholder => 'Introduce el código', class: 'form-control' %>
      </p>

      <br />
      <br />
      <p>
        <%= form.submit 'Enviar código', class: 'btn' %>
      </p>
    </div>
  <% end %>
<% end %>

<% if @admin_mode %>
  <p>
    <p>
      <strong>Code:</strong>
      <%= @quest.code %>
    </p>
    <p>
      <strong>Next quest title:</strong>
      <%= @quest.next_quest&.title %>
    </p>
    <p>
      <strong>End quest title:</strong>
      <%= @quest.end_quest_text %>
    </p>
  </p>
  <%= link_to 'Edit', edit_quest_path(@quest) %>
  <%= link_to 'Back', quests_path %>
<% end %>
